@import url("https://fonts.cdnfonts.com/css/br-firma");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

.main-container {
  background-color: #ffffff;
  cursor: wait;
}
.nar-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  padding: 3rem 4rem;
  /* border:2px solid red; */
}
.nav-logo {
  width: 6rem;
  height: 7.25rem;
  margin-top: 5.9375rem;
  margin-left: 5.8125rem;
}

.nav-logo img {
  width: 100%;
}

.nav-links {
  width: 7.25rem;
  height: 1.25rem;
  margin-top: -4rem;
  margin-left: 50.8125rem;
}
.nav-links ul {
  align-items: center;
  display: flex;
  justify-self: start;
  justify-content: center;
  gap: 2.5rem;
}

.nav-links a {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: BR Firma, san-serif;
}

.nav-button {
  display: flex;
  align-items: center;
  border: none;
}

.nav-button button {
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: -2.3rem;
  margin-left: 75rem;
  background-image: linear-gradient(-50deg, #805ca5, #4f92ce);
  border: none;
}

.nav-button button a {
  color: white;
  font-family: BR Firma;
  font-size: 1.2rem;
  font-weight: 700;
}

.main-content {
  width: 75rem;
  height: 31rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #ccccff47;
  margin-top: 5rem;
  margin-left: 5.9rem;
  border: 0.2rem solid rgb(175, 175, 203);
  overflow: visible;
  box-shadow: 0.4rem 0.5rem #0000000f;
}

.head-content {
  width: 25.6875rem;
  height: 12rem;
  margin-top: 5.375rem;
  margin-left: 4.75rem;
}

.head-content h2 {
  line-height: 4rem;
  text-transform: none;
  font-family: BR Firma;
  color: #805ca5;
  font-style: italic;
  font-size: 4rem;
  height: 1rem;
}

.head-content p {
  width: 28.19rem;
  height: 5.44rem;
  margin-top: 11.56rem;
  size: 1.5rem;
  line-height: 1.9rem;
  font-size: 1.5rem;
  font-family: BR Firma;
}

.head-button {
  width: 10.75rem;
  height: 3.25rem;
  margin-top: 7.187rem;
  margin-left: 4.5rem;
  border: none;
}

.head-button button {
  /* height: 1.875rem; */
  width: 16.5rem;
  background-image: linear-gradient(-50deg, #805ca5, #4f92ce);
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: none;
}

.head-button button a {
  font-size: 1.5rem;
  font-family: BR Firma;
  font-weight: 700;
  color: #ffffff;
}

.head-image {
  width: 41rem;
  height: 36rem;
  margin-top: -33rem;
  margin-left: 38rem;
  display: flex;
  flex-direction: wrap;
}

.head-carousel {
  display: flex;

  max-width: 100rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.head-carousel .carousel-card {
  width: 19.6rem;
  height: 23.3rem;
  margin-top: 4.13rem;
  margin-left: 2.94rem;
  border-radius: 0.75rem;
  border: 0.2rem solid rgb(175, 175, 203);
  background-color: #ccccff3e;
  @media screen and (max-width: 600px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-inline: 7rem; */
    margin-left: 2rem;
  }
}

.carousel-card .ellipse {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  border: 0.5rem solid #4f92ce;
  background-color: #4f92ce;
  margin-left: 6.5rem;
  margin-top: 3rem;
}

.carousel-card .ellipse-icon {
  display: flex;
  width: 3.25rem;
  height: 2.4rem;
  margin-top: -3.5rem;
  color: #ffffff;
  margin-left: 7.5rem;
  margin-bottom: 1rem;
}

.carousel-content h2 {
  text-align: center;
  font-family: BR Firma;
  font-weight: 700;
  font-size: 1.25rem;
  color: #37014f;
  margin-top: 2rem;
}

.carousel-content p {
  text-align: center;
  font-family: BR Firma;
  padding: 1rem 1rem 1rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.26rem;
  color: rgba(35, 35, 35, 0.5);
}

/* testimonial-section */

.testimonial-container {
  width: 90rem;
  height: 32.94rem;
  background-color: #805ca5;
  padding-bottom: 75rem;
}

.testimonial-text h1 {
  font-size: 1.5rem;
  font-family: BR Firma;
  font-style: normal;
  font-weight: 700;
  color: #f0c20c;
  line-height: 1.83rem;
  margin-top: 1.125rem;
  margin-bottom: 1rem;
  padding-top: 3.5rem;
  text-emphasis: none;
  text-align: center;
}

.testimonial-text h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  font-family: BR Firma;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.01rem;
}

.client-reviews {
  width: 73rem;
  height: 16.5rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  margin-left: 8.5rem;
  margin-bottom: 2.69rem;
  margin-top: 2rem;
}

.client-reviews .testimonial-star {
  padding-top: 2rem;
  margin-left: 2rem;
  width: 5rem;
  height: 0.875rem;
}

.client-reviews .testimonial-quote {
  margin-top: 2rem;
  color: #333333;
  font-family: BR Firma;
  font-weight: 500;
  font-size: 0.9rem;
  font-style: normal;
  margin-left: 2rem;
  max-width: 68rem;
}

.testimonial-author {
  margin-left: 2rem;
  margin-top: 1rem;
  display: flex;
}

.testimonial-author .rectangle {
  width: 2.9rem;
  height: 2.9rem;
  margin-top: 0.5rem;
}

.testimonial-author .author-name {
  margin-left: 0.5rem;
  font-family: BR Firma;
  font-size: 1.2rem;
  font-style: normal;
  color: #333333;
  margin-top: 0.3rem;
}

.testimonial-author .author-title {
  font-family: BR Firma;
  font-size: 0.75rem;
  color: rgba(51, 51, 51, 0.5);
  font-style: italic;
  font-weight: 500;
}

.course-container {
  background-color: #ffffff;
  height: 77rem;
}

.course-content {
  /* margin-left: 41rem; */
  margin-top: 3.13rem;
  text-align: center;
}

.course-content h2 {
  color: #4f92ce;
  font-family: BR Firma;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

.course-content p {
  color: #805ca5;
  font-family: BR Firma;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 700;
}

.course-module {
  background-color: #805ca5;
  width: 73.31rem;
  height: 12.06rem;
  margin-top: 1.69rem;
  margin-left: 7.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.course-data {
  display: flex;
}

.course-data img {
  width: 7.5rem;
  height: 7.5rem;
  margin-top: 2.2rem;
  margin-left: 1.5rem;
}

.course-item {
  margin-top: 2rem;
  margin-left: 1rem;
}

.course-item h2 {
  color: #f0c20c;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: BR Firma;
  line-height: 2.63rem;
}

.course-item p {
  color: #fff;
  font-family: BR Firma;
  font-weight: 500;
  font-size: 1rem;
}

.course-button {
  display: flex;
  margin-left: 10rem;
  margin-top: -0.5rem;
  gap: 0.5rem;
  border: none;
}

.button-1 button {
  width: 7.5rem;
  height: 2rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  border: none;
  background-color: #fff;
}

.button-1 button a {
  font-size: 1.13rem;
  font-family: BR Firma;
  font-weight: 500;
  color: #805ca5;
  text-align: center;
}

.button-2 button {
  width: 12rem;
  height: 2rem;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  border: 0.01rem solid #fff;
  background-color: #805ca5;
}

.button-2 button a {
  color: #fff;
  font-family: BR Firma;
  font-weight: 500;
  font-size: 1.13rem;
}

.button-content {
  margin-left: 35.5rem;
  margin-top: 0.5rem;
}

.button-content p {
  font-size: 1.13rem;
  font-family: BR Firma;
  font-weight: 500;
  color: #f0c20c;
}

.instructor-container {
  background-color: #ccccff40;
  height: 45rem;
}

.instructor-content {
  padding-top: 4.1rem;
}

.instructor-content h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4f92ce;
  text-align: center;
  font-family: BR Firma;
  line-height: 1.83rem;
}

.instructor-content h2 {
  font-family: BR Firma;
  text-align: center;
  color: #805ca5;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3.95rem;
}

.instructor-content p {
  font-family: BR Firma;
  color: #000000;
  font-size: 1.45rem;
  text-align: justify;
  margin-left: 11rem;
  max-width: 68rem;
  line-break: 2.5rem;
}

.footer-container {
  background-color: #805ca5;
  height: 23.06rem;
}
.footer-layout {
  display: flex;
  padding: 4rem 4rem 9rem 9rem;
  gap: 3rem;
}

.footer-layout .footer-nav {
  /* padding-left: 2rem; */
  display: flex;
  gap: 3rem;
  /* flex-direction: column; */
}

.footer-layout .layout-1 {
  display: flex;
  flex-direction: column;
  padding-left: 9rem;
}
.footer-layout .footer-nav a {
  font-family: BR Firma;
  font-weight: 700;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.layout-1 p {
  font-size: 1rem;
  font-family: BR Firma;
  font-weight: 500;
  max-width: 30rem;
  padding-top: 2rem;
  line-height: 1.5rem;
  color: #fff;
}

.input {
  position: relative;
  width: 26.5rem;
  background-color: linear-gradient(275deg, #805ca5, #4f92ce);
}

.input input {
  width: 100%;
  border: none;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  font-family: BR Firma;
  color: rgba(51, 51, 51, 0.5);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.newsletter-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
  width: 7.5rem;
  height: 3rem;
  text-align: center;
  color: #fff;
  font-family: BR Firma;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 0.9rem;
  background-image: linear-gradient(275deg, #805ca5, #4f92ce);
  border: none;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.caption {
  color: #fff;
  font-family: BR Firma;
  line-height: 1.19rem;
  font-size: 1.13rem;
  padding-bottom: 0.5rem;
}

.footer-icon {
  width: 10.38rem;
  height: 1.56rem;
  padding-top: 1rem;
}

hr {
  width: 76rem;
  height: 0.063rem;
  align-self: center;
  text-align: center;
  margin-left: 9rem;
  color: #FFF;
}

.copyright-footer {
  margin-top: -5rem;
}
.copy-right {
  text-align: center;
  font-family: BR Firma;
  color: #fff;
  padding-top: 2rem;
  font-size: 1.125rem;
}

@media screen and (max-width: 1024px) {
  .nav-button {
    width: 90rem;
  }

  .head-carousel {
    width: 90rem;
  }

  .course-container {
    width: 90rem;
  }

  .instructor-container {
    width: 90rem;
  }

  .footer-container {
    width: 90rem;
  }

  .ham-burger {
    display: none;
  }

  .mobile-logo img {
    display: none;
  }
  .mobile-section{
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .nav-button {
    width: 90rem;
  }

  .head-carousel {
    width: 90rem;
  }

  .course-container {
    width: 90rem;
  }

  .instructor-container {
    width: 90rem;
  }

  .footer-container {
    width: 90rem;
  }
  .ham-burger {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .mobile-section{
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .nav-links,
  .nav-button {
    display: none;
  }

  .ham-burger {
    display: block;
    /* width: 18.9375rem;
   height: 18.1875rem; */
    margin-left: 80rem;
    position: absolute;
    top: 6.8rem;
  }

  .ham-burger img {
    width: 3rem;
    height: 3rem;
  }

  .main-content {
    background-color: #fff;
    border: none;
    box-shadow: none;
    height: 42rem;
  }

  .head-content {
    margin-top: 5rem;
    width: 45rem;
  }

  .head-content h2 {
    font-size: 6.9rem;
    line-height: 6.5rem;
  }

  .head-content p {
    margin-top: 19rem;
    font-size: 2.4rem;
    width: 30.875rem;
    text-align: left;
    font-style: normal;
    font-family: BR Firma;
    line-height: 3rem;
  }
  .head-image {
    display: none;
  }

  .head-button {
    margin-top: 25rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  }

  .head-button button {
    width: 20.5625rem;
    padding-block: 1.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
  }

  .head-button button a {
    font-size: 2.25rem;
  }

  .head-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 28.375rem;
    height: 25.625rem; */
  }

  .carousel-card {
    max-width: 65.375rem;
    padding-bottom: 35rem;
  }

  .ellipse {
    max-height: 20rem;
    padding: 3rem 3rem 3rem 3rem;
  }

  .ellipse-icon img {
    width: 4rem;
    height: 4rem;
    margin-top: -2rem;
    margin-left: 1rem;
    /* padding-top: -10rem;
    padding-bottom: -10rem; */
  }

  .all-item {
    display: block;
    justify-content: content;
    align-items: center;
    margin-left: 23.1rem;
    /* padding-left: 45rem; */
  }

  .carousel-content h2 {
    font-size: 3rem;
    font-family: BR Firma;
    color: #37014f;
    margin-top: 2rem;
  }

  .carousel-content p {
    font-size: 2.5rem;
    width: 64.75rem;
    height: 7.1875rem;
    text-align: center;
    color: rgba(33, 33, 33, 0.5);
    line-height: 2.8rem;
    /* margin-left: 8.5rem; */
  }

  .testimonial-container {
    width: 89.5rem;
    height: 34.5rem;
  }

  .testimonial-text h1 {
    font-size: 2.25rem;
  }

  .client-reviews {
    width: 64.875rem;
    height: 39.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 11rem;
  }

  .testimonial-container {
    padding-bottom: 145rem;
    width: 90rem;

  }

  .testimonial-quote p {
    font-size: 2rem;
    width: 45.8585rem;
    color: #333;
    line-height: 2.3rem;
    margin-right: 11rem;
  }

  .testimonial-star img {
    width: 5.11125rem;
    height: 1rem;
    margin-left: -26rem;
  }

  .testimonial-author {
    margin-right: 45rem;
  }

  .rectangle {
    width: 2.3125rem;
    height: 2.125rem;
  }

  .course-container {
    width: 26.875rem;
    height: 189rem;
    padding-bottom: 25rem;
  }

  .course-content h2 {
    font-size: 3.5rem;
    font-family: BR Firma;
    margin-left: 35.5rem;
  }

  .course-content p {
    font-size: 3rem;
    text-align: center;
    width: 25rem;
    margin-left: 31.5rem;
  }

  .course-module {
    width: 64.875rem;
    height: 32.1875rem;
    margin-left: 11rem;
  }

  .laptop-logo img {
    display: none;
  }

  .mobile-logo img {
    display: block;
  }

  .mobile-logo img {
    width: 11.5rem;
    height: 3.4375rem;
    max-width: 430px;
  }

  .course-data {
    display: flex;
    flex-direction: column;
  }

  .course-item h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .course-item p {
    font-size: 1.8rem;
    font-family: BR Firma;
    font-weight: 500;
    padding-bottom: 2rem;
    line-height: 2.5rem;
    color: #fff;
    width: 63rem;
  }

  .course-button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* padding-left: -25rem; */
    /* margin-left: -0.01rem;
    width: 15rem; */
    /* max-width: 120rem; */
  }

  .button-1 button {
    padding: 1rem 2rem 2rem 2rem;
    padding-bottom: 3rem;
    justify-content: center;
    width: 15rem;
    margin-left: -9rem;
  }

  .button-1 button a {
    font-size: 1.8rem;
    font-family: BR Firma;
    font-weight: 700;
    text-align: center;
    height: 0.2rem;
    width: 1rem;
  }

  .button-2 button {
    padding: 1rem 2rem 2rem 2rem;
    padding-bottom: 3rem;
    width: 25rem;
  }

  .button-2 button a {
    font-size: 1.8rem;
    font-family: BR Firma;
    font-weight: 700;
    text-align: center;
  }

  .button-content{
    max-width: 90rem;
    margin-left: 0rem;
    padding-left: -45rem;
  }

  .button-content P{
    font-size: 2rem;
    font-family: BR Firma;
    font-weight: 700;
  }
 
  .instructor-container{
    height: 125rem;
    width: 90rem;
  }

  .instructor-content h1{
   font-size: 3.5rem;
   padding-bottom: 0.5rem;
  }

  .instructor-content h2{
    font-size: 4rem;
    height: 5rem;
  }
  .instructor-content p{
    font-size: 3rem;
  }
   
  .footer-container{
    width: 90rem;
    height: 60.5rem;
  }

  .footer-logo img{
    width: 11rem;
    height: 11rem;
  }

  .layout-1{
    display: flex;
    flex-direction: row;
    /* border:  2px solid red; */
    margin-top: 3rem;
    margin-left: -9rem;
    height: 13rem;
  }

  .layout-1 .footer-nav a{
    font-size: 2.8rem;
    font-style: normal;
    font-family: BR Firma;
    font-weight: 600;
    line-height: 1.2285rem;
  }

  .mobile-footer{
    display: flex;
    flex-direction: column;
  }
  
  .layout-1 p{
    font-size: 2rem;
    line-height: 3rem;
  }

  .mobile-nav{
   display: flex;
   flex-direction: column;
  } 

  .news-letter{
    margin-top: 5rem;
  }

  .news-letter .caption{
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .input input{
    width: 26.4375rem;
    height: 5.25rem;
  }

  .input .placeholder{
    font-size: 3rem;
  }

  .layout-1 .footer-nav{
    display: none;
  }

  .layout-1 p{
    display: none;
  }

  .news-letter{
    display: none;
  }
  .mobile-section{
    display: block;
    margin-left: 8.5rem;
    margin-top: -10rem;
    height: 35rem;
  }

  .mobile-section{
    display: flex;
    flex-direction: column;
    height: 40rem;
  }

  .mobile-layout{
    display: flex;
    flex-direction: column;
  }

  .mobile-layout .mobile-nav {
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }
  .mobile-layout .mobile-nav a{
    font-weight: 700;
    color: #FFF;
    font-size: 3rem;
    font-family: BR Firma;
    font-style: normal;
    height: 3rem;
    padding-bottom: 8rem;
  }

  .mobile-layout p{
    font-size: 2rem;
    color: #FFF;
    font-family: BR Firma;
    font-weight: 500;
    width: 60rem;
    padding-bottom: 2rem;
    line-break: 1.5rem;
  }

  .mobile-caption{
    font-size: 2rem;
    color: #FFF;
    height: 3rem;
    font-family: BR Firma;
  }

  .input input{
    padding-inline: 10rem;
    width: 50rem;
    height: 7.5rem;
  }

  ::placeholder{
    font-size: 2rem;
    font-family: BR Firma;
    text-align: left;
  }

  .newsletter-button{
    font-size: 1.8rem;
    width: 13rem;
    height: 5rem;
    margin-right: -22rem;
    margin-top: 1.3rem;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;

  }

  .mobile-socialmedia{
    margin-top: 1.8rem;
  }

  .mobile-socialmedia img{
   width: 15rem;
   height: 2.5rem;
  }

  .copy-right p{
   font-size:  1.5rem;
  }
}

@media screen and (max-width: 359px){
.course-container{
  width: 80rem;
}

.main-container{
  width: 80rem;
}

.footer-container{
  width: 80rem;
}

.testimonial-container{
  width: 90rem;
}

.instructor-container{
  width: 80rem;
}
}

@media screen and (max-width: 358px){
  
  .course-container{
    width: 89.90rem;
  }

  .course-content h2{
   width: 10rem;
  }

  .instructor-container{
    width: 89.90rem;
  }

  .footer-container{
    width: 89.99rem;
  }
 
}
